
<h1 style="text-align: center;font-family: Georgia, serif;">Active Drivers</h1>
<button mat-raised-button color="primary" style="margin-top:20px; margin-left: 1100px;margin-bottom: 10px;width:120px;" [routerLink]="['/activefour']" (click)="refresh()">Refresh</button><br>
<input  type="text" id="myInput" placeholder="Search here.." [(ngModel)]="term" title="Type in a name">
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0" style="background-color: white;">

<div class="container">
            
  <table id="customers">
    <col width="130">
    <thead>
      <tr>
        <th>SL.no</th>
        <th>Phone</th>
        <th>Vehicle Number</th>
        <th>Driver Name</th>
        <th>Driver Id</th>
        <th>Work Preference</th>
        <th>Actions</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let drivee of user|paginate: {id:'listing_pagination',itemsPerPage: 15,currentPage: page,totalItems: totalRec }|filter:term;let i = index;">
        <td >{{(page-1)*15+i+1}}</td>
        <td>{{drivee.phone}}</td>
        <td>{{drivee.vehicle_number}}</td>
        <td>{{drivee.driver_name}}</td>
        <td>{{drivee.driver_uuid}}</td>
        <td>{{drivee.work_preference}}</td>
        <td>
         
            <button mat-raised-button style="background-color:darkcyan;color: white;" (click)="openModal(drivee.phone,drivee.vehicle_number,drivee.work_preference)">View</button>
         
          <!-- <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
          <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a> -->
      </td>
      <td>
        <button mat-raised-button id="remove" mwlConfirmationPopover
        [popoverTitle]="popoverTitle"
        [popoverMessage]="popoverMessage"
        placement="left"
        (confirm)="deactivateDriv(drivee.driver_uuid)"
        (cancel)="cancelClicked = true"   style="background-color:darkcyan; color:white;" >Deactivate</button>
      </td>
      </tr>
     </tbody>
  </table>
  <div>
    <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
</div>

