.container-fluid{
    padding-top: -10px;
    padding-left: 50px;
    width: 1300px;
    background-color: lightness($color: #a72e2e);
}
.checkbox{
    text-size-adjust:100px ;
    margin-left: 100px;
}
